create a virtual environment

pip install django

pip install crispy-bootstrap5
pip install django-crispy-forms
pip install django-widget-tweaks
pip install pillow
pip install isodate
pip install requests