.bg-img{
  background-image: url(home_bg.jpg);
  background-blend-mode: multiply;
  background-color: #020311d8;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

    
}
.bg-full{
  height: 100vh;
}

.grad{
  background: -webkit-linear-gradient(45deg,#fda3ea,#b8c9ff,#c6fffa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-cyan{
    color: rgb(202, 255, 255);
    font-weight: bold;
    background-color: #06493593;
    border-radius: 5px;
    border: 1px solid cyan;
    cursor: pointer;
    padding: 9px 25px;
}
.btn-cyan:hover {
  background-color: rgba(14, 189, 212, 0.205);
  color: #10c5b6;
  transform: translateY(-1px);
  transition: ease 0.3s;
  border: 1px solid rgb(187, 255, 255);
}
.bg-linear{
    background-image: linear-gradient(45deg,#fda3ea,#b8c9ff,#c6fffa);
}




.btn-linear{
  background-image: linear-gradient(45deg,#e7a4d9,#a2b3eb,#aeeee9);
  color:#0c0c0c;
}
.btn-linear:hover{
  background-image: linear-gradient(45deg,#fda3ea,#b8c9ff,#c6fffa);
  transform: translateY(-1px);
  transition: ease 0.3s;
  color: #000000;
}
.border-cyan{
    border: 1px solid cyan;
}

h3 {
    padding-left: 15px;
}
.list-group-item {
    border: none;
}

.bs-black{
  box-sizing: border-box;
  box-shadow: rgb(27, 26, 26) 5px 5px 5px;
}
.bg-transparent{
  background-color: transparent;
}

.transparent-bg {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9); /* visible text color */
  border: 1px solid hsl(184, 100%, 74%);
  padding: 0.5rem 1rem;
  transition: border-color 0.3s ease;
}

.transparent-bg::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.transparent-bg:focus {
  outline: none;
  border-color: #0df5fd; /* Bootstrap primary blue */
  color: white; /* text color while typing */
  background-color: transparent; /* keep transparent */
}

.h-cyan ul li a:hover{
  color:#28f5fcc9;
}

.text-cyan{
  color:#32d6ff;
}
.text-cyan:hover{
  color:#32d6ff;
  transform: translateY(-1px);
  transition: ease 0.3s;
}

.text-aqua{
  color:#77efff;
}
.text-aqua:hover{
  color:#77efff;
  transform: translateY(-1px);
  transition: ease 0.3s;
}

